<section class="keep-touch">
  <div class="container">
    <div class="block-heading text-center">
      <h2 class="my-4 h1 text-center">Contact us</h2>
    </div>
      <span class="dot-dash dark">.</span>
      <div class="row">
          <div class="col-md-5">
              <div class="keep-touch--white">
                  <h4>Our Adress</h4>
                  <p>Avenue OUA 01 (Concession Procoki),<br>Kinshasa, Ngaliema <br></p>
                  <h4>Call Us</h4>
                  <p>+243 810013916<br></p>
                  <h4>Email Us</h4>
                  <p><a href="mliselele@altiustechnology.com">mliselele@altiustechnology.com</a></p>
              </div>
          </div>
          <div class="col-md-7">
              <div class="keep-touch--white">
                  <form action="">
                      <input type="text" placeholder="Name">
                      <input type="text" placeholder="Email">
                      <input type="text" placeholder="Subject">
                      <textarea name="" id="" rows="5" placeholder="Message"></textarea>
                      <input type="submit" class="button small">
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
