<section class="case-study"  id="about">
  <div class="container">
    <h2 class="my-4 h1 text-center">About us</h2>
    <span class="dot-dash dark">.</span>
    <h6 class="h5 text-center">Our team is passionate about solving complex problems quickly and efficiently to help our clients grow their business.
    </h6>
  </div>
  <div class="container">
      <div class="case-study--sliders">
          <div class="case-study--left">
              <div class="case-study--left__textslider">
                  <div>
                      <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                      <h4 class="feature-title">Our focus</h4>
                      <p class="grey-text">We want to provide quality solutions and optimal service every time.</p>
                      <div style="height:15px"></div>
                  </div>
                  <div>
                      <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                      <h4 class="feature-title">Our commitment </h4>
                      <p class="grey-text">We believe that all strong business relationships are based on trust and reliability.
                       That's why we put the following values at the heart of every service we provide:
                      </p>
                      <ul>
                        <li>
                          Excellence
                        </li>
                        <li>
                          Integrity
                        </li><li>
                          Transparency
                        </li><li>
                          The courage to dare
                        </li>
                      </ul>
                      <div style="height:15px"></div>
                  </div>
                  <div>
                      <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                      <h4 class="feature-title">Our difference</h4>
                      <h6 class="feature-title">Diverse talents</h6>
                      <p class="grey-text">Diverse talents Our teams are made up of talented individuals from a wide range of backgrounds.
                         They are carefully selected so that whatever the problem, we can solve it efficiently.
                      </p>
                      <div style="height:15px"></div>
                  </div>
                  <div>
                    <div class="case-study--left__textslider__image"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
                    <h4 class="feature-title">Our difference</h4>
  <h6 class="feature-title">A local and pragmatic approach</h6>
  <p class="grey-text">Our teams work from the Congo, giving their best to meet your needs.
     This allows us to fully capitalise on the advantages of geographical and cultural proximity to create robust solutions suited to your context.
  </p>
  <h6 class="feature-title">Customer centricity</h6>
  <p class="grey-text">Throughout the development cycle of your solution, we offer a bespoke service that gives you the advantage of control over the development process based on your objectives.
    So your solution can grow and evolve with your business.
  </p>
  <div style="height:15px"></div>
                </div>
              </div>
              <div class="case-study--left__dots"></div>
          </div>
          <div class="case-study--right">
              <div class="case-study--right__imageslider">
                  <div>
                      <img src="assets/img/case.jpg" alt="" />
                  </div>
                  <div>
                      <img src="assets/img/case.jpg" alt="" />
                  </div>
                  <div>
                      <img src="assets/img/case.jpg" alt="" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
