<!-- Home -->
<section id="home">
  <div class="home-slider">
      <div class="home-slider--wrapper">
          <div>
              <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/desk.jpg')">
                  <div class="container">
                      <h1>WELCOME TO ALTIUS TECHNOLOGY</h1>
                      <span class="dot-dash">.</span>
                      <p>Our expertise and local footprint allow us to have a pragmatic and goal-oriented
                        approach in order to offer peace of mind throughout the software development cycle for our clients.</p>
                      <div class="slider-buttons">
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/Slide5.jpg')">
                  <div class="container">
                      <h1>ALTIUS TECHNOLOGY</h1>
                      <span class="dot-dash">.</span>
                      <p>We provide turnkey software development services that really add value.</p>
                      <div class="slider-buttons">
                      </div>
                  </div>
              </div>
          </div>
          <div>
            <div class="home-slider--wrapper__inner" style="background-image: url('assets/img/slide3.png')">
                <div class="container">
                  <h1>ALTIUS TECHNOLOGY</h1>
                    <span class="dot-dash">.</span>
                    <p>We are committed to provide our clients with the highest quality software and related
                      services.</p>
                    <div class="slider-buttons">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="home-slider--nav">
          <div class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
          <div class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
      </div>
      <div class="home-slider--anchor">
          <span><i class="fa fa-anchor" aria-hidden="true"></i></span>
      </div>
  </div>
</section>
<!-- Home -->

<div class="wrapper">

  <!-- About -->
  <app-about></app-about>
  <!--/ About -->

  <!-- Services -->
  <app-services></app-services>
  <!--/ Services -->

  <!-- Careers -->
  <app-careers></app-careers>
  <!--/ Careers -->

   <!-- Contact us -->
   <app-contact></app-contact>
  <!--/ Contact us -->
    </div>
<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->
