<section class="our-history " id="services">
  <section class="features-blue head clean-block features  bg-light">
    <div class="container">
        <div class="intro">
          <h2 class="my-4 h1 text-center">Services</h2>
        </div>
        <span class="dot-dash dark">.</span>
        <div class="row features">
            <div class="col-sm-6 col-md-4 item" id="Software"><i class="icn material-icons icon">devices_other</i>
              <h4 class="feature-title"><strong>Software development</strong><br></h4>
                <p class="description">We build code that allows you to do what you want, when you want and
                    how you want. We build intuitive Front-Ends and well-structured, reliable and secure
                    Back-Ends to meet your needs using modern technologies. <br></p>
            </div>
            <div class="col-sm-6 col-md-4 item" id="integration"><i class="icn fab fa-cloudsmith icon"></i>
                <h3 class="name"><strong>Third-party software &amp; integration</strong><br></h3>
                <p class="description">In addition to creating software from scratch, we build from one or
                    more existing tools a solution that bridges the gap between the potential of these tools
                    and your needs. <br></p>
            </div>
            <div class="col-sm-6 col-md-4 item" id="System"><i class="icn material-icons icon">settings_system_daydream</i>
              <h4 class="feature-title"><strong>System legacy </strong><br></h4>
                <p class="description">Nowadays, companies must innovate to remain competitive. We help you
                    to meet this requirement in terms of the systems you use, starting with a review of the
                    current systems to make them more dynamic, user-friendly and efficient, using the most
                    modern technologies adapted to your needs. <br></p>
                    <div style="height:15px"></div>
            </div>
            <div class="col-sm-6 col-md-4 item" id="Cloud"><i class="icn material-icons icon">cloud_done</i>
                <h4 class="feature-title"><strong>Cloud computing </strong><br></h4>
                <p class="description grey-text">With physical serverless technologies, we can help you design, build
                    and run applications in the cloud without worrying about server maintenance. These
                    applications are natively designed for the cloud, making them more cost effective,
                    secure, scalable and highly available.<br></p>
                    <div style="height:15px"></div>
            </div>
            <div class="col-sm-6 col-md-4 item" id="DevOps"><i class="icn material-icons icon">developer_mode</i>
                <h4 class="feature-title"><strong>DevOps </strong><br></h4>
                <p class="description grey-text">We help organisations implement DevOps culture and methodologies
                    using the right tools to automate their software development lifecycle, and accelerate
                    the release of their software through CI/CD to optimise their productivity and enhance
                    their competitiveness. <br></p>
                    <div style="height:15px"></div>
            </div>
            <div class="col-sm-6 col-md-4 item" id="Maintenance"><i class="icn material-icons icon ">phone_in_talk</i>
                <h4 class="feature-title"> <strong>Maintenance &amp; support</strong><br></h4>
                <p class="description grey-text">Your software is critical to your success and we fully understand
                    what is at stake. That is why our maintenance service is based on clear and specific
                    indicators to ensure a high level of availability of your tools. Moreover, we are
                    available to you at any time, including 24/7.<br></p>
                    <div style="height:15px"></div>
            </div>
        </div>
    </div>
</section>
<section style="margin-top:10%">
  <div class="container">
    <div class="block-heading">
      <h4 class="feature-title text-md-center"> <strong>Our areas of expertise</strong><br></h4>
      <span class="dot-dash dark">.</span>
      <p class="description grey-text text-md-center">We have established a strong relationship with clients from a wide range of sectors:</p>
      <div style="height:15px"></div>
  </div>
  <div style="width: 800px;" style="margin-left: 50px;margin-right: 50px;">
    <div class="row" >
      <div class="col-md-6 mb-lg-0 feature-box" style="padding: 10px;">
        <div class="bg-image ripple hover-zoom" data-mdb-ripple-color="light">
          <img src="assets/img/health.jpg" class="w-100" />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0"><strong>Health</strong></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-lg-0 feature-box" style="padding: 10px;">
        <div class="bg-image ripple hover-zoom" data-mdb-ripple-color="light">
          <img img src="assets/img/telecom.jpg"alt="image" class="w-100" />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0"><strong>Telecom</strong></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-lg-0 feature-box" style="padding: 10px;height: 231.5px;">
        <div class="bg-image ripple hover-zoom" data-mdb-ripple-color="light">
          <img img src="assets/img/public.jpg"alt="image" class="w-100 hover hover-2 rounded" />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0"><strong>Public Sector</strong></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-lg-0 feature-box" style="padding: 10px;height: 231.5px;">
        <div class="bg-image ripple hover-zoom" data-mdb-ripple-color="light">
          <img img src="assets/img/industry.jpg"alt="image" class="w-100 hover hover-2 rounded" />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0"> <strong>Manufacturing Industry</strong> </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-lg-0 feature-box" style="padding: 10px;height: 231.5px;">
        <div class="bg-image ripple hover-zoom" data-mdb-ripple-color="light">
          <img img src="assets/img/b2b.jpg"alt="image" class="w-100 hover hover-2 rounded" />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0"><strong>B2B</strong></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</section>
